html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  /* Позиционирование */

  /* Блочная модель */
  margin: 0;
  padding: 0;

  /* Типографика */
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(255, 255, 255);

  /* Оформление */
  background-color: rgb(132, 157, 143);

  /* Анимация */

  /* Разное */
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* =============== bg-slider */

.bg-slider {
  min-width: 900px;

  background-color: rgb(132, 157, 143);
  background-image: url("../img/bg-creme-brulee-and-sebum-with-raspberry-jam.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
       -o-transition: background-image 0.5s ease, background-color 0.5s ease;
          transition: background-image 0.5s ease, background-color 0.5s ease;
}

.bg-slider::before,
.bg-slider::after {
  content: "";

  visibility: hidden;
}

.bg-slider::before {
  background-color: rgb(137, 150, 166);
  background-image: url("../img/bg-chocolate-plombir-and-lemon-sorbet.png");
}

.bg-slider::after {
  background-color: rgb(157, 139, 132);
  background-image: url("../img/bg-sunburn-with-fondant-and-strawberry-sherbet.png");
}

/* =============== wrapper */

.wrapper {
  max-width: 1200px;
  min-width: 900px;

  margin: 0 auto;
}

.inner-page-wrapper {
  background-image: none;
}

/* =============== orange-btn */

.orange-btn {
  display: inline-block;
  vertical-align: middle;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: rgb(242, 104, 67);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image:      -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  border: none;

  cursor: pointer;
}

.orange-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:      -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.orange-btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:      -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Войти */
.user-tools-navigation-form-submit {
  padding: 0 24.5px;
}

/* Давайте оба! */
.slide-btn {
  padding: 10px 41.5px;
}

/* Хочу варенье! */
.banner-raspberry-btn {
  padding: 11px 23px;
}

/* Хочу шоколадки! */
.banner-chocolate-btn {
  padding: 10.5px 21.5px;
}

/* Быстрый просмотр */
.ice-cream-item-fast-btn {
  padding: 10px 16.25px;
}

/* Отправить */
.subscription-form-btn {
  padding: 10px 19px;
}

/* Форма обратной связи */
.feedback-btn {
  padding: 10px 27.5px;
}

/* Отправить */
.feedback-modal-form-btn {
  padding: 10px 24px;
}

/* Оформить заказ */
.shopping-btn {
  padding: 10px 14.5px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.header {
  margin: 0 2.25%;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;

  width: 100%;
}

.header-row:nth-of-type(2) {
  -webkit-box-pack: end;
     -ms-flex-pack: end;
         justify-content: flex-end;
}

.header-logo {
  margin-top: 9px;

  min-width: 154px;
  min-height: 64px;
}

/* =============== menu */

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;

  width: 85.69%;
  margin-top: 5px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  line-height: 18px;
  font-weight: 700;
}

.header-menu-item {
  position: relative;

  padding: 7px 13.5px 6px;
  margin-right: 1.5px;

  border-radius: 20px;
}

.header-menu-item-link {
  display: block;

  color: rgb(255, 255, 255);

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-menu-item-link::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 0;

  width: 100%;
  min-height: 10px;
}

.header-menu-item:hover,
.header-menu-item:hover .header-menu-item-link {
  color: rgb(50, 50, 50);

  background-color: rgb(247, 246, 243);
  border-bottom: none;

  cursor: pointer;
}

/* =============== submenu */

.header-submenu {
  position: absolute;

  display: none;

  width: 143px;
  margin: 0;
  margin-top: 12px;
  margin-left: -19.5px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.header-submenu-item-novelty {
  font-weight: 700;
}

.header-submenu-item-novelty::after {
  content: "";

  position: absolute;
  top: 33px;

  display: block;
  width: 128px;
  height: 1px;
  margin-left: 6px;

  background-color: rgb(209, 208, 206);
}

.header-submenu-item {
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.header-submenu-item-link {
  display: block;

  margin-bottom: -1px;
  padding: 9.6px 20px;

  color: rgb(50, 50, 50);
}

.header-submenu-item-link:hover {
  color: rgb(50, 50, 50);

  background-color: rgb(251, 222, 216);
}

/* ========== menu + submenu */

.header-menu,
.header-submenu {
  list-style: none;
}

.header-menu-item:hover .header-submenu {
  display: block;
}

/* ===== menu + submenu (current) */

.menu-current {
  background-color: rgb(208, 112, 88);
}

.menu-link-current {
  color: rgb(255, 255, 255);

  background-color: rgb(208, 112, 88);
  border-bottom: none;
}

/* ===== menu + submenu (active) */

.header-menu-item:active {
  background-color: rgba(248, 247, 244, 0.988);
  -webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
          box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.header-submenu-item-link:active {
  background-color: rgb(246, 181, 165);
}

/* =============== user-tools */

.user-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-tools-search,
.user-tools-navigation,
.user-tools-shopping {
  margin-left: 10px;
}

/* ===== active */

.user-tools-search-btn:active,
.user-tools-navigation-btn:active,
.user-tools-shopping-btn:active,
.user-tools-shopping-btn-full:active {
  background-color: rgba(248, 247, 244, 0.988);
  -webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
          box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

/* ===== user-tools (спрятать/показать)  */

.user-tools-search-form,
.user-tools-navigation-form,
.shopping-box {
  position: absolute;
  z-index: 100;

  display: none;
}

.user-tools-search:hover .user-tools-search-form,
.user-tools-navigation:hover .user-tools-navigation-form,
.user-tools-shopping:hover .shopping-box {
  display: block;
}

/* ========== search */

.user-tools-search {
  position: relative;
}

.user-tools-search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
  border-style: none;
  border-radius: 50%;
}

.user-tools-search-btn::before {
  content: "";

  position: absolute;
  top: 30px;

  width: 100%;
  min-height: 10px;
}

.user-tools-search-btn:hover {
  background-color: rgb(248, 247, 244);
}

.user-tools-search-btn:hover path{
  fill: rgb(50, 50, 50);
}

.user-tools-search-form {
  top: 36px;
  left: -308px;

  min-width: 341px;
  padding: 20px 15px;

  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-tools-search-form-field {
  width: 100%;
}

/* ========== navigation */

.user-tools-navigation {
  position: relative;
}

.user-tools-navigation-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 6.5px 16px;

  font-size: 14px;
  line-height: 16px;
  color: rgb(255, 255, 255);

  background-color: rgba(255, 255, 255, 0.2);
  border-style: none;
  border-radius: 20px;
}

.user-tools-navigation-btn:hover {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.user-tools-navigation-btn-svg {
  margin-right: 8px;
}

.user-tools-navigation-btn path {
  fill: rgb(255, 255, 255);
}

.user-tools-navigation-btn:hover path {
  fill: rgb(50, 50, 50);
}

.user-tools-navigation-btn::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 0;

  width: 100%;
  min-height: 10px;
}

.user-tools-navigation-form {
  top: 36px;
  left: -180px;

  width: 277px;
  padding: 20px 17px 21px 19px;

  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-tools-navigation-form-box {
  margin-bottom: 20px;
}

.user-tools-navigation-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-tools-navigation-form-other {
  margin-left: 19px;
  min-height: 45px;
}

/* ===== ссылки */

.user-tools-navigation-form-other-recovery,
.user-tools-navigation-form-other-registration {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(50, 50, 50);

  border-bottom: 1px solid rgb(173, 172, 170);
}

.user-tools-navigation-form-other-recovery:hover,
.user-tools-navigation-form-other-registration:hover,
.user-tools-navigation-form-other-recovery:active,
.user-tools-navigation-form-other-registration:active {
  color: rgb(232, 77, 55);

  border-bottom-color: rgb(249, 205, 196);
}

/* ========== shopping */

.user-tools-shopping {
  position: relative;
}

.user-tools-shopping-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 6px 16.5px;

  font-size: 14px;
  line-height: 16px;
  color: rgb(255, 255, 255);

  background-color: rgba(255, 255, 255, 0.2);
  border-style: none;
  border-radius: 20px;
}

.user-tools-shopping-btn:hover {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.user-tools-shopping-btn-svg {
  margin-right: 8px;

}

.user-tools-shopping-btn:hover g {
  fill: rgb(50, 50, 50);
}

/* ===== shopping-btn (catalog.html) */

.user-tools-shopping-btn-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 8px 16.5px;
  padding-left: 44px;

  font-size: 14px;
  line-height: 16px;
  color: rgb(50, 50, 50);

  background-color: rgb(248, 247, 244);
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 17px 50%;
  border-style: none;
  border-radius: 20px;
  opacity: 0.988;
}

.user-tools-shopping-btn-full::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 0;

  width: 100%;
  min-height: 10px;
}

/* ===== shopping-box (catalog.html) */

.shopping-box {
  top: 36px;
  right: 0;

  width: 540px;
  min-height: 242px;

  color: rgb(50, 50, 50);

  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.shopping-list {
  margin: 0;
  padding: 15px;

  list-style: none;
}

.shopping-list::after {
  content: "";

  position: absolute;
  top: 131px;
  left: 15px;

  display: block;
  width: 510px;
  height: 1px;

  background-color: rgb(202, 202, 199);
}

.shopping-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping-item:not(:first-of-type) {
  margin-top: 9px;
}

.shopping-item-delete {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  width: 4.1%;
}

.shopping-item-delete-btn {
  width: 11px;
  height: 11px;

  background: none;
  border: none;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

.shopping-item-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  min-width: 33px;
  min-height: 33px;
  margin-right: 14px;

  border-radius: 50%;
}

.shopping-item-img-1 {
  background-color: rgb(235, 169, 99);
  background-image: url("../img/bg-mini-creamy-with-orange-jam-and-citrus-shavings.png");
}

.shopping-item-img-2 {
  background-color: rgb(245, 138, 170);
  background-image: url("../img/bg-mini-creamy-strawberry-with-powder-of-white-chocolate.png");
}

.shopping-item-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(50, 50, 50);
}

.shopping-item-heading-big {
  margin: 0;
  padding-top: 14px;
}

.shopping-item-heading {
  width: 42.5%;
  margin-right: 31px;
}

.shopping-item-weight {
  margin-right: 3px;
}

.shopping-item-multy {
  margin-right: 4px;
}

.shopping-item-price {
  margin-right: 29px;

  color: rgb(153, 153, 153);
}

.shopping-total-price {
  margin-right: 14px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
}

.shopping-btn {
 float: right;
 margin-right: 14px;
}

/* ========== user-tools + subscription + feedback-modal = /форма/ */

/* ===== bg-form */

.subscription-box,
.feedback-modal {
  background-color: rgb(248, 247, 244);
  border-radius: 10px;
}

/* ===== поля */

.form-text {
  width: 100%;
  min-height: 44px;
  padding: 9px 15px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.subscription-form-text,
.feedback-modal-form-text {
  font-size: inherit;
}

.form-text::-webkit-input-placeholder {
  font-weight: 400;
  color: rgb(153, 153, 135);
}
.form-text:-ms-input-placeholder {
  font-weight: 400;
  color: rgb(153, 153, 135);
}
.form-text::-ms-input-placeholder {
  font-weight: 400;
  color: rgb(153, 153, 135);
}
.form-text::placeholder {
  font-weight: 400;
  color: rgb(153, 153, 135);
}

.form-text:hover {
  -webkit-box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
          box-shadow: inset 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.form-text:focus {
  -webkit-box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
          box-shadow: inset 0 0 0 1px rgba(46, 136, 228, 0.52);
}

/* =============== contacts */

.contacts {
  text-align: right;
}

.contacts-time,
.contacts-tel {
  margin: 0;

  font-weight: 700;
  color: rgb(255, 255, 255);
}

.contacts-time {
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
}

.contacts-tel {
  font-size: 22px;
  line-height: 24px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin: 0 2.25%;
}

/* =============== slider */

.slider {
  position: relative;

  width: 100%;
  margin-top: 275px;
  margin-bottom: 42px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;

  position: relative;
}

.slider-item {
  display: none;

  text-align: center;
}

.slide-title {
  width: 688px;
  margin: 0 auto;
  margin-bottom: 28px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide-title-smaller {
  width: 648px;
}

.slide-btn {
  font-size: 32px;
  line-height: 44px;
}

/* ===== controls */

.slider-controls {
  position: absolute;
  bottom: 63px;
  z-index: 20;

  margin-bottom: -43px;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;

  cursor: pointer;
}

.slide-switch-1:checked ~ .bg-slider {
  background-color: rgb(132, 157, 143);
  background-image: url("../img/bg-creme-brulee-and-sebum-with-raspberry-jam.png");
}

.slide-switch-2:checked ~ .bg-slider {
  background-color: rgb(137, 150, 166);
  background-image: url("../img/bg-chocolate-plombir-and-lemon-sorbet.png");
}

.slide-switch-3:checked ~ .bg-slider {
  background-color: rgb(157, 139, 132);
  background-image: url("../img/bg-sunburn-with-fondant-and-strawberry-sherbet.png");
}

.slide-switch-1:checked ~ .bg-slider .slide-1,
.slide-switch-2:checked ~ .bg-slider .slide-2,
.slide-switch-3:checked ~ .bg-slider .slide-3 {
  display: block;
}

.slide-switch-1:checked ~ .bg-slider label[for="product-1"],
.slide-switch-2:checked ~ .bg-slider label[for="product-2"],
.slide-switch-3:checked ~ .bg-slider label[for="product-3"] {
  background-color: rgb(255, 255, 255);
}

.slide-switch-1:hover ~ .bg-slider label[for="product-1"],
.slide-switch-2:hover ~ .bg-slider label[for="product-2"],
.slide-switch-3:hover ~ .bg-slider label[for="product-3"] {
  background-color: rgba(255, 255, 255, 0.4);
}

/* =============== banners */

.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  margin-bottom: 24px;
}

.banner-raspberry,
.banner-chocolate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 48.88%;
  min-height: 229px;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 21px;
  padding-bottom: 23px;

  border-radius: 20px;
}

/* ===== bg */

.banner-raspberry {
  margin-right: 2.24%;

  background-color: rgb(112, 22, 42);
  background-image: url("../img/bg-raspberry.jpg");
  background-size: cover;
}

.banner-chocolate {
  background-color: rgb(68, 42, 30);
  background-image: url("../img/bg-chocolate.jpg");
  background-size: cover;
}

/* ===== text */

.banners-heading,
.banners-text {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.banners-heading {
  font-size: 35px;
  line-height: 41px;
}

.banners-text {
  margin: 0;
  padding-top: 15px;

  font-size: 18px;
}

.banner-raspberry-btn,
.banner-chocolate-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;

  margin-top: 44px;
}

/* =============== description */

.description {
  margin-bottom: 40px;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 24px;

  color: rgb(50, 50, 50);

  background-color: rgb(235, 222, 195);
  background-image: url("../img/bg-wafer.jpg");
  border-radius: 20px;
}

.description-heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: inherit;
}

.description-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 48.8%;
  margin-top: 8px;

  font-weight: 400;
}

.description-item:not(:nth-of-type(1)):not(:nth-of-type(2)) {
  margin-top: 9px;
}

.description-item-icon {
  width: 49px;
  height: 49px;
  margin-right: 8px;

  background-repeat: no-repeat;
}

.description-item-icon-ice {
  background-image: url("../img/ice-cream.svg");
}

.description-item-icon-cow {
  background-image: url("../img/cow.svg");
}

.description-item-icon-eco {
  background-image: url("../img/eco.svg");
}

.description-item-icon-thermometer {
  background-image: url("../img/thermometer.svg");
}

.description-item-text {
  width: 89%;
  margin: 0;
  margin-top: 13px;
}

/* =============== blog + sub */

.blog-and-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-bottom: 40px;
}

.blog,
.subscription {
  width: 48.88%;
  min-height: 220px;

  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

/* ========== blog */

.blog {
  padding: 23px 20px;

  background-color: rgb(255, 255, 255);
  background-image: url("../img/bg-strawberry.jpg");
  background-position: right center;
}

.blog-text {
  margin: 0;
}

.blog-text,
.blog-link {
  color: rgb(50, 50, 50);
}

.blog-link {
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  text-decoration: underline;
}

.blog-link:hover,
.blog-link:active {
  color: rgb(232, 77, 55);

  border-bottom-color: rgb(236, 89, 60);
}

/* ========== sub (подписка) */

.subscription {
  padding: 5px 6px;

  background-color: rgb(226, 211, 218);
  background-image: url("../img/bg-post.svg");
}

.subscription-box {
  padding: 29px 20px 35px;
  min-height: 210px;
}

.subscription-text {
  margin: 0;

  font-weight: 400;
  color: rgb(90, 90, 90);
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 36px;
}

.subscription-form-text {
  width: 72.5%;
}

.subscription-form-btn {
  margin-left: auto;
}

/* =============== map // feedback */

.feedback {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  min-height: 430px;

  background-color: rgb(235, 226, 188);
  background-image: url("../img/map-and-pin.jpg");
}

.map {
  border: none;
}

.feedback-box {
  position: absolute;
  top: 62px;
  right: 0;

  width: 302px;
  min-height: 305px;
  margin-right: 2.25%;
  padding: 25px;

  color: rgb(50, 50, 50);

  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
}

.feedback-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.feedback-text-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.feedback-text-bold:nth-of-type(4),
.feedback-text:nth-of-type(5) {
  line-height: inherit;
}

/* ===== feedback (margin) */

.feedback-text,
.feedback-text-bold {
  margin: 0;
}

.feedback-text-address-header {
  width: 60%;
  margin-top: 4px;
}

.feedback-text-address {
  margin-top: 1px;
}

.feedback-text-tel-header {
  margin-top: 18px;
}

.feedback-text-tel {
  margin-top: 5px;
}

.feedback-text-time {
  margin-top: 2px;
}

.feedback-btn {
  margin-top: 22px;
}

/* ==================== catalog.html ===== */

/* =============== breadcrumbs */

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-top: -18px;
  margin-bottom: 3px;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs-item-link {
  color: rgb(255, 255, 255);

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-item-link:hover,
.breadcrumbs-item-link:active {
  color: rgb(255, 188, 158);

  border-bottom-color: rgba(249, 172, 159, 0.302);
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: "»";

  display: inline-block;
  vertical-align: middle;
  padding: 0;
  padding-left: 4px;
  padding-right: 7px;
}

/* =============== h1 */

.ice-cream-type {
  margin: 0;
  margin-bottom: 26px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* =============== filters */

.filters {
  margin-bottom: 24px;
}

.filters-form-row-1,
.filters-form-row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters-form-row-1 {
  margin-bottom: 16px;
}

.filters-form-fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filters-form-sorting-select,
.filters-form-price-range-box,
.filters-form-fat-content-list,
.filters-form-fillers-list,
.filters-form-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

/* ========== sorting */

.filters-form-sorting {
  margin: 0;
  margin-right: 16px;
  padding: 0;
}

.filters-form-sorting-select {
  min-width: 193px;
  min-height: 36px;
  padding: 5px 14px 8px 16px;

  font-weight: inherit;
  color: rgb(255, 255, 255);

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 166px center;
  background-size: 11px 10px;
  border: none;

  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filters-form-sorting-select::-ms-expand {
  display: none;
}

.filters-form-sorting-select:hover {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
  background-image: url("../img/select-arrow.svg");
  background-position: 167px center;
  background-size: 9px 5px;
}

.filters-form-heading {
  margin-left: 15px;
  margin-bottom: 6px;
}

.filters-form-heading,
.filters-form-sorting-option {
  font-size: 14px;
  line-height: 16px;
}

.filters-form-sorting-option {
  font-weight: 400;
}

.filters-form-text {
  line-height: 18px;
}

/* ========== price*/

.filters-form-price {
  margin-right: 15px;
}

.filters-form-price-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters-form-price-box-2 {
  margin: 0;
  margin-top: -4px;
}

.filters-form-price-legend {
  margin-right: 5px;
}

.filters-form-price-text {
  margin-left: 0;
}

.filters-form-price-min,
.filters-form-price-max {
  max-width: 25px;
  margin: 0;

  font-size: inherit;
  font-weight: inherit;
  color: rgb(255, 255, 255);

  background-color: transparent;
  border: none;
}

.filters-form-price-max {
  margin-left: 2px;
}

/* ===== range */

.filters-form-price-range-box {
  position: relative;

  width: 218px;
  min-height: 36px;
}

.filters-form-price-range {
  position: absolute;
  top: 16px;
  left: 21px;

  width: 176px;
  height: 4px;

  background-color: rgb(248, 247, 244);

  opacity: 0.502;
}

.filters-form-price-range-current {
  position: absolute;
  top: 16px;
  left: 37px;

  width: 107px;
  height: 4px;

  background-color: rgb(248, 247, 244);
}

.filters-form-price-range-min,
.filters-form-price-range-max {
  position: absolute;

  width: 20px;
  height: 20px;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

.filters-form-price-range-min {
  top: 8px;
  left: 34px;
}

.filters-form-price-range-max {
  top: 8px;
  left: 132px;
}

/* ========== fat-content + fillers */

.filters-form-fat-content-list,
.filters-form-fillers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0;
  padding: 9px 15px;

  line-height: 18px;

  list-style: none;
}

.filters-form-fat-content-item,
.filters-form-fillers-item {
  padding-left: 33px;

}

.filters-form-fat-content-item-label,
.filters-form-fillers-item-label {
  position: relative;

  display: block;

  cursor: pointer;
}

.filters-form-fat-content-item-pick + .filters-form-fat-content-item-label::before,
.filters-form-fat-content-item-pick:checked + .filters-form-fat-content-item-label::after,
.filters-form-fillers-item-pick + .filters-form-fillers-item-label::before,
.filters-form-fillers-item-pick:checked + .filters-form-fillers-item-label::before {
  content: "";

  position: absolute;

  opacity: 0.8;

  cursor: pointer;
}

.filters-form-fat-content-item-pick + .filters-form-fat-content-item-label:hover::before,
.filters-form-fat-content-item-pick:checked + .filters-form-fat-content-item-label:hover::after,
.filters-form-fillers-item-pick + .filters-form-fillers-item-label:hover::before,
.filters-form-fillers-item-pick:checked + .filters-form-fillers-item-label:hover::before {
  opacity: 1;
}

.filters-form-fat-content-item-pick:disabled + .filters-form-fat-content-item-label::before,
.filters-form-fat-content-item-pick:disabled + .filters-form-fat-content-item-label::after,
.filters-form-fat-content-item-pick:disabled + .filters-form-fat-content-item-label,
.filters-form-fillers-item-pick:disabled + .filters-form-fillers-item-label::before,
.filters-form-fillers-item-pick:disabled + .filters-form-fillers-item-label {
  opacity: 0.4;
}

/* ========== fat-content */

.filters-form-fat-content-list {
  min-width: 415px;
}

.filters-form-fat-content-item-pick + .filters-form-fat-content-item-label::before {
  top: -2px;
  left: -33px;

  width: 22px;
  height: 22px;

  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.filters-form-fat-content-item-pick:checked + .filters-form-fat-content-item-label::after {
  top: 5px;
  left: -26px;

  width: 8px;
  height: 8px;

  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

/* ========== fillers */

.filters-form-fillers-list {
  min-width: 702px;
  margin-right: 14px;
}

.filters-form-fillers-item-pick + .filters-form-fillers-item-label::before {
  top: -1px;
  left: -32px;

  width: 20px;
  height: 20px;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
}

.filters-form-fillers-item-pick:checked + .filters-form-fillers-item-label::before {
  top: -1px;
  left: -32px;

  width: 23px;
  height: 20px;

  border: transparent;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 23px 20px;
}

/* ===== кнопка */

.filters-form-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;

  min-width: 144px;
  height: 36px;

  font: inherit;
  line-height: 18px;
  color: inherit;

  border: 2px solid rgb(255, 255, 255);
}

.filters-form-btn:hover {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.filters-form-btn:active {
  color: rgb(50, 50, 50);

  background-color: rgb(237, 237, 237);
  border: transparent;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
          box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

/* =============== карточки с мороженкой */

.ice-cream {
  max-width: 1186px;
  margin: 0 auto;
  margin-bottom: 51px;
  padding: 0 7px;
}

.catalog-hits {
  margin-bottom: 6px;
}

.ice-cream-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 100%;
  margin: 0;
  margin-top: 10px;
  padding: 0;

  list-style: none;
}

.ice-cream-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 25%;
  margin: 0;
  margin-bottom: -42px;
  padding: 0 1.1%;
  padding-bottom: 21px;

  text-align: center;
}

.catalog-hits-item:before {
  content: "";

  position: absolute;
  top: 6px;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.ice-cream-item-img {
  margin-top: 6px;
  margin-bottom: 0;
}

.item-price,
.ruble,
.weight {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.item-price {
  position: relative;
  top: -59px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.ruble {
  margin-top: 2px;
  margin-left: 3px;
}

.weight {
  margin-top: 6px;
  margin-left: 2px;

  font-size: 30px;
}

.ice-cream-item-name {
  position: relative;
  top: -39px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 96%;
  margin: 0 auto;

  font: inherit;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
          text-decoration-color: rgba(255, 255, 255, 0.3);
}

.ice-cream-item-fast-btn {
  width: 75%;
  margin: 0 auto;
  margin-top: -29px;

  visibility: hidden;
}

.ice-cream-item:hover {
  z-index: 10;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.ice-cream-item:hover .ice-cream-item-fast-btn {
    visibility: visible;
}

/* =============== pagination */

.catalog-pagination {
  margin-bottom: 27px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  min-width: 25px;
  min-height: 26px;
  margin-right: 2.5px;
}

.pagination-item:last-of-type {
  margin-right: 0;
}

.pagination-item-link {
  padding: 3.5px 8.75px;

  line-height: 18px;
  color: inherit;

  border-radius: 50%;
}

.catalog-pagination-prev,
.catalog-pagination-next {
  display: block;

  text-align: center;
}

.catalog-pagination-prev {
  margin-right: 9px;

  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.catalog-pagination-next {
  margin-left: 9px;
}

.catalog-pagination-prev path {
  fill: rgba(248, 247, 244, 0.2);
}

.catalog-pagination-next path {
  fill: rgb(248, 247, 244);
}

.pagination-item-link-current {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
}

.pagination-item-link:hover:not(.pagination-item-link-current) {
  background-color: rgba(255, 255, 255, 0.2);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< footer >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0 2.25%;
  padding-top: 17px;
  padding-bottom: 9px;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social-list,
.footer-menu-list {
  list-style: none;
}

.footer-social,
.footer-copyright {
  width: 30%;
}

/* =============== social */

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 185px;
  margin-top: 18px;
  padding: 0;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 38px;
  height: 38px;

  border: 3px solid rgba(255, 255, 255, 0.502);
  border-radius: 50%;
}

.social-btn path {
  width: 32px;
  height: 32px;

  fill: rgba(255, 255, 255, 0.8);
}

.social-btn:hover,
.social-btn:active {
  border-color: rgba(255, 255, 255, 0.702);
}

.social-btn:hover path {
  fill: rgb(255, 255, 255);
}

.social-btn:active path {
  fill: rgb(233, 233, 233);
}

/* =============== menu */

.footer-menu {
  max-width: 370px;
  margin-left: 5.8%;
}

.footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-top: 13px;
  margin-bottom: 19px;
  padding: 0;
}

.footer-menu-item {
  margin-right: 33px;
}

.footer-menu-item:nth-child(3) {
  margin-right: 12.4%;
}

.footer-link,
.footer-copyright-text {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-menu-item-special {
  font-weight: 700;
}

.footer-menu-item-special::before {
  content: "";

  position: absolute;

  width: 15px;
  height: 13px;
  margin-top: 7px;
  margin-left: -22px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.footer-link:hover,
.footer-link:active {
  color: rgb(255, 188, 158);

  border-bottom-color: rgba(249, 172, 159, 0.302);
}

/* =============== copyright */

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-copyright-logo-link {
  margin-right: 81px;
}

.footer-copyright-logo-link-img {
  min-height: 39px;
}

.footer-copyright-text {
  margin: 0;
  margin-top: 5.2px;

  font-size: 12px;

  border-bottom: none;
}

.footer-copyright-text-link {
  font-size: 12px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< modal >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 555;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes bounce {
  0%   { -webkit-transform: translateY(-2555px);
                 transform: translateY(-2555px); }
  70%  { -webkit-transform: translateY(25px);
                 transform: translateY(25px);    }
  90%  { -webkit-transform: translateY(-25px);
                 transform: translateY(-25px);   }
  100% { -webkit-transform: translateY(0);
                 transform: translateY(0);       }
}
@keyframes bounce {
  0%   { -webkit-transform: translateY(-2555px);
                 transform: translateY(-2555px); }
  70%  { -webkit-transform: translateY(25px);
                 transform: translateY(25px);    }
  90%  { -webkit-transform: translateY(-25px);
                 transform: translateY(-25px);   }
  100% { -webkit-transform: translateY(0);
                 transform: translateY(0);       }
}

.modal-show {
  display: block;

  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes shake {
  0%, 100%                { -webkit-transform: translateX(0);
                                    transform: translateX(0);     }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px);
                                    transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { -webkit-transform: translateX(10px);
                                    transform: translateX(10px);  }
}
@keyframes shake {
  0%, 100%                { -webkit-transform: translateX(0);
                                    transform: translateX(0);     }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px);
                                    transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { -webkit-transform: translateX(10px);
                                    transform: translateX(10px);  }
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.feedback-modal {
  position: fixed;
  top: 338px;
  left: 50%;

  width: 477px;
  margin-left: -237px;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 25px;
  padding-bottom: 28px;
}

.feedback-modal-close {
  position: absolute;
  top: 15px;
  right: 16px;

  width: 18px;
  height: 17px;

  background-color: transparent;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}

.feedback-modal-heading {
  margin: 0;
  margin-bottom: 19px;

  font-size: 24px;
  line-height: 28px;
  color: rgb(50, 50, 50);
}

.feedback-modal-form-box:not(:last-of-type) {
  margin-bottom: 20px;

  width: 267px;
}

.feedback-modal-form-review {
  min-height: 155px;
  margin-bottom: 19px;
}

.feedback-modal-form-btn {
  float: right;
}
